<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Product List</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ProdID</th>
            <th>ProdName</th>
            <th>Description</th>
            <th>DateOfManf</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productList}">
            <td th:text="${product.ProdID}"></td>
            <td th:text="${product.ProdName}"></td>
            <td th:text="${product.Description}"></td>
            <td th:text="${product.DateOfManf}"></td>
            <td th:text="${product.Price}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>