<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sale List</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2>Sale List</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>SlNo</th>
      <th>SalesmanID</th>
      <th>ProdID</th>
      <th>SalesmanName</th>
      <th>DOS</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sale : ${saleList}">
      <td th:text="${sale.SlNo}"></td>
      <td th:text="${sale.SalesmanID}"></td>
      <td th:text="${sale.product.getProdID()}"></td>
      <td th:text="${sale.SalesmanName}"></td>
      <td th:text="${sale.DOS}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>